body{
    margin: 0 auto;
    background-image: url("img/login.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
.container{
    min-width:800px;
    height:314px;
    text-align:center;
    background-color: rgba(10, 20, 41,0.6);
    border-radius:4px;
    margin: 0 auto;
    margin-top:20px;

}
.consulta{
    margin-top:100px;
    text-align:center;
    margin: 0 auto;
}
input[type="text"]{
    height: 28px;
    width: 200px;
    font-size: 18px;
    margin-top: 1px;
    border-radius:4px;
    background-color: #fff;
    border-color: #3333ff;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin-top: 20;
    margin: 0 auto;
    position: center;
    color:white;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a:active {
    background-color: black;
    color: #3333ff
}
ul.pagination li a:hover:not(.active) {background-color:  rgba(10, 20, 41,0.6);}

table {
    font-family: "Lato","sans-serif";
    width: 100%  ;
    white-space: nowrap ;
}   

td {                            
    text-align: center;    
    width: 10em;                   
    padding: 1em;     
}      

th {                             
    text-align: center;                
    padding: 1em;
    background-color: #3333ff;       
    color: white;       
}                 
 
tr {   
    height: 1em;    
}

table tr:nth-child(even) {           
    background-color: #eee;    
}

table tr:nth-child(odd) {            
    background-color:#fff;      
}

.Btn{
    padding: 8px 30px;
    color:#fff;
    border:none;
    border-radius: 4px;
    border-bottom: 4px solid #3333ff;
    background-color: #4d4dff;
    text-decoration: none
}
.capitalize{
    text-transform: capitalize;
}
.containerE{
    width:500px;
    height:300px;
    text-align:center;
    background-color: rgba(10, 20, 41,0.5);
    border-radius:4px;
    margin: 0 auto;
    margin-top:200px;

}
.advertencia{
    padding-top: 10px;
    color:white;
}