h1{
color:white;
font-family:arial;
}
body{
    margin: 0 auto;
    background-image: url("img/login.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
.containerE{
    width:500px;
    height:300px;
    text-align:center;
    background-color: rgba(10, 20, 41,0.5);
    border-radius:4px;
    margin: 0 auto;
    margin-top:200px;

}
.containerM{
    width:500px;
    min-height:300px;
    text-align:center;
    background-color: rgba(10, 20, 41,0.5);
    border-radius:4px;
    margin: 0 auto;
    margin-top:200px;

}
.containerE img{
    width:190px;
    height: 160px;
    margin-top: -90px;
    margin-right: -10px;
}

input[type="text"],[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border:none;
    margin-bottom: 20px;
    border-radius:4px;
    background-color: #fff;
    padding-left: 40px;
}

.form-input::before{
    content: "\f007";
    position: absolute;
    font-family: "fontawesome";
    font-size:35px;
    padding-left: 5px;
    color: #4d4dff;
    padding-top: 7px;
}
.form-input1::before{
    content: "\f023";
    position: absolute;
    font-family: "fontawesome";
    font-size:35px;
    padding-left: 5px;
    color: #4d4dff;
    padding-top: 7px;
}
.loginBtn{
    padding: 15px 30px;
    color:#fff;
    border:none;
    border-radius: 4px;
    border-bottom: 4px solid #3333ff;
    background-color: #4d4dff;

}
.advertencia{
    padding-top: 10px;
    color:#fff;
}