<!DOCTYPE html>
{% extends "menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enfermedades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/CSS/animals.css') }}">
</head>
<body>
{% block content %}

  <div class="container">
    {%if not text %}
    <form action="/enfermedad" method="post" class="Busqueda">
        <input type="text" name="text" value="{{ request.form.text }}">
        <input type="submit" name="submit" value="Consultar" class="Btn">
    </form>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Foto</th>
          {% if user.admin == 1 %}
          <th>Administrativo</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for a in enfermedad %}
          <tr>
            
            <td>{{ a.nombre }}</td>
            <td>{{ a.descripcion }}</td>
            <td><img src="{{ a.foto }}" alt="" border=3 height=70 width=70</img></td>
            {% if user.admin == 1 %}
            <td><a href="{{url_for('modificar',lista='ENFERMEDADES',text=a.nombre)}}" value="Modificar" class="Btn">Modificar</a>
            <a href="{{url_for('eliminar',lista='ENFERMEDADES',text=a.nombre)}} " value="Borrar" class="Btn">Borrar</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination">
    {{ pagination.links }}
    </ul>

  </div>

  {% endblock %}

</body>
</html>

