<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/insertarMedicinas" method="post">
            <div class="form-input">
            <input type="text" name="nombre" placeholder="Nombre de Medicamento" value="{{ request.form.nombre }}">
            </div>
             <div class="form-input">
            <input type="text" name="Descripcion" placeholder="Descripcion" value="{{ request.form.descripcion }}">
            </div>
            <div class="form-input">
            <input type="text" name="foto" placeholder="Link Foto" value="{{ request.form.foto }}">
            </div>

            <input type="submit" name="submit" value="Login" class="loginBtn">
    </form>
    {{lol}}
</body>
</html>