<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/CSS/login.css') }}">
</head>
<body>
    <form action="" method="post">
            <div class="form-input">
            <input type="text" name="username" placeholder="Username" value="{{ request.form.username }}">
            </div>
             <div class="form-input1">
            <input type="password" name="password" placeholder="Password" value="{{ request.form.password }}">
             </div>
            <div class="form-input">
            <input type="text" name="nombre" placeholder="Nombre Completo" value="{{ request.form.nombre }}">
            </div>
            <div class="form-input">
            <input type="text" name="foto" placeholder="Link Foto" value="{{ request.form.foto }}">
            </div>

            <input type="submit" name="submit" value="Login" class="loginBtn">
    </form>
    {{lol}}
</body>
</html>