<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/CSS/animals.css') }}">
</head>
<body>
    {{ pagination.info }}
  <div class="container">
    {%if not text %}
    <form action="/usuarios" method="post" class="Busqueda">
        <input type="text" name="text" value="{{ request.form.text }}">
        <input type="submit" name="submit" value="Consultar" class="Btn">
    </form>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Nombre</th>
            <th>Tipo</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        {% for a in user %}
          <tr>

            <td>{{ a.username }}</td>
            <td>{{ a.nombre }}</td>
            {%if a.admin == 1%}
              <td>Admin</td>
              {% endif %}
              {%if a.admin == 0%}
              <td>User</td>
              {% endif %}
            <td><img src="{{ a.foto }}" alt="" border=3 height=70 width=70</img></td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination">
    {{ pagination.links }}
    </ul>
  </div>
</body>
</html>

